.App {
  text-align: center;
}

body {
  background-color: #7393b3;
  color: #000;
}
.TitBg {
  background-color: #4f7942;
  width: 100%;
  border: 2px solid black;
}
.TitText {
  font-size: 33px;
  text-align: left;
  margin: 40px;
  color: #000;
}
.Explanation {
  color: #000;
  font-weight: bold;
}

.nama {
  text-align: left;
  color: #000;
  font-weight: bold;
  margin-left: 40px;
}
.bgtask {
  background-color: #555;
  border-radius: 6px;
  margin: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.bgtask div {
  display: flex;
  align-items: center;
}
.bgtask .done .Texttask {
  text-decoration: line-through;
  opacity: 0.5;
}

.bgtask .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

/* .active {
  background-color: #4f7942;
} */

.bgtask .icon span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
}
